*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-wrapper{
    background-color: rgb(23,33,61);
}
.brand-logo{
    margin-left: 10px;
}

.carousel .carousel-item {
    height: 600px;
  }
.carousel-item img{
    height: 800px;

}

main{
    margin-top: 100px;
}

/*map styles */
#map{
    height: 100%;
}
.location-container{
    margin: 0 auto;
    text-align: center;
}