@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(226, 228, 228);
    font-family: 'Roboto', sans-serif
}

.brand-logo{
    margin-left: 10px;
}

.carousel .carousel-item {
    height: 600px;
  }
.carousel-item img{
    height: 800px;

}
.carousel-caption{
    margin-bottom: 100px;
}
main{
    margin-top: 100px;
}
.container-fluid{
   text-align: center;
   
    
}
.container-fluid p{
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}

/*map styles */
.col-sm-6{
    margin: 0 auto;
    text-align: center;
}
 #map{
    text-align: center;
    height: 400px;
    width: 100%;
    
}
.location-container{
    margin: 0 auto;
    text-align: center;
    
}



.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card{
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
    width: 270px;
}
.card-body{
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);
}
.card-body h5{
    font-weight: bold;
}

.title p{
    font-size: 18px;
}

.container-fluid h1{
    font-size: 1.7rem;
}
#map-fluid{
    margin-top: 45px;
    
}
/* mobile view for maps */

@media only screen and (max-width: 600px) {
    #maps{
        
    }
}
